<!DOCTYPE html>
<html lang="en">
    <head>
        {{>head}}
        <link rel="stylesheet" href="/css/results-styles.css">
    </head>
    <body>
        <!-- Spinner code -->
        <div class="spinner-wrapper">
            <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        {{>navbar}}
        {{>searchModal}}
        {{>loginModal}}
        {{>signupModal}}
        <!--products container -->
            <div class="container products" style="height: 100vh;">
                <div class="row justify-content-center row-heading">
                    <div class="col-auto" data-aos="zoom-out" data-aos-duration="2500">
                        <h2 class="title-main-product">SEARCH RESULTS</h2>
                    </div>
                </div>
                {{#if movies}}
                    {{#each movies}}
                        {{>item}}
                    {{/each}}
                    {{else}}
                    <div class="container products" style="height: 100vh;">
                        <div class="row justify-content-center row-heading">
                            <div class="col-auto" data-aos="zoom-out" data-aos-duration="2500">
                            <h2 class="title-main-product">No Movies Found :(</h2>
                        </div>
                    </div>
                {{/if}}
            </div> 
        {{>footer}}
        {{>foot}}
        <script src="/js/results.js"></script>
    </body>
</html>