html {
  scroll-behavior: smooth;
}

.navbar-dark {
  background-color: rgba(153, 102, 51, 0.7);
}

@font-face {
  font-family: myFirstFont;
  src: url('../fonts/Pacifico.ttf')
}

body {
    overflow-x: hidden;
    height: 100vh;
    font-family: MyFirstFont;
    background-color: #e6cbb3;
}

.spinner-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  z-index: 999999;
}

a {
  cursor: pointer;
}

.spinner-border {
  position: absolute;
  top: 48%;
  left: 48%;
}

.nav-link {
  cursor: pointer;
}

.carousel {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.carousel .carousel-item {
  height: 100%;
}

.carousel-caption {
  position: absolute;
  top: 20vh;
  height: 30%;
  background-color: rgba(0, 0, 0, 0.1);
}

.carousel-header {
  font-weight: bold;
  font-size: 100px;
  margin-bottom: 30px;
}

.carousel-icon {
  color: #996633;
}

.modal-body {
  background-color: #996633;
}

.row-content {
    padding: 50px 0px;
    margin: 0px auto;
    min-height: 400px;
}

.scroll {
    position: absolute;
    bottom: 100px;
    left: 0px;
    right: 0px;
}

.bounce {
  padding-top: 200px;
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
  position: absolute;
  bottom: 50px;
  left: 48%;
  z-index: 9999;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.row-heading {
  border-bottom: 1px solid grey;
}

.title-main {
  font-weight: bolder;
  font-size: 40px;
  padding-bottom: 20px;
}

.col-benefit {
  margin-bottom: 20px;
}

@media only screen and (min-width: 768px) {
  .col-benefit-flip > div {
    backface-visibility: hidden;
    transition: transform 300ms;
    transition-timing-function: linear;
  }
  
  .col-benefit-front {
    transform: rotateY(0deg);
  }
  
  .col-benefit-back {
    transform: rotateY(180deg);
    position: absolute;
    top: 0;
  }
  
  .col-benefit-flip:hover .col-benefit-front {
    transform: rotateY(-180deg);
  }
    
  .col-benefit-flip:hover .col-benefit-back {
    transform: rotateY(0deg);
  }
}

.about {
  margin-top: 40px;
}

.img-thumbnail {
  margin-bottom: 20px;
}

.row-blogs {
  margin-bottom: 50px;
  padding: 50px 0px;
  height: 400px;
  overflow-y: scroll;
}

#feedback-form {
  margin-top: 20px;
}

.modal-header 
{
  background-color: #996633;
}

#contactform .btn-primary
{
  background-color: #996633;
}

#scroll-up {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 10;
  background-color: #996633;
}

.footer {
    background-color: #bf8040;
    color: white;
    margin: 0px auto;
    padding: 20px 0px 0px 0px;
}

.row-copyright {
  margin-top: 50px;
}